{%extends "layout.html"%}
{%block content%}
<div class="container">
    
    <form action="" method="post" name="params">
            Epochs: <input type="number" placeholder="01" name='epochs'>
            Learning Rate: <input type="text" name="lr" placeholder="0.001"> 
            <button id="start_train-btn" class="wh_btn" type="submit">Start Training the Model</button>
    </form>

    <div id="train_logs">
    </div>


    <script>
        $(document).ready(function() {

            var interval = setInterval(()=>{
                $.ajax({
                    type: 'GET',
                    url: "{{url_for('trainProgress')}}",
                    success: function(data) {
                        console.log(data.Progress)
                        console.log($('.log').last().text())
                        if(data.Progress){
                            
                            if($('.log').last().text() != data.Progress){
                                
                                $('#train_logs').append("<p class=\"log\">"+data.Progress+"</p>");
                            }          
                        }
                    },
                });
            },1500);

            $("#start_train-btn" ).click(function(event) { 
                event.preventDefault();
                $('form[name=params]').remove();
                var arr = window.location.href.split('/');
                var fd = arr[arr.length - 1];
                if($("input[name=lr]").val())
                    var lr = $("input[name=lr]").val();
                else
                    var lr = 0.001
                if($("input[name=epochs]").val())
                    var epochs = $("input[name=epochs]").val()
                else
                    var epochs = 1
                d= {"folder":fd, "lr": lr, "epochs":epochs};
                $.ajax({
                    type: 'POST',
                    url: "{{url_for('train_model')}}",
                    data : JSON.stringify(d, null, '\t'),         
                    contentType: 'application/json;charset=UTF-8',
                    success: function(data) {
                        if(data.success == true){
                            var link = window.location.origin + "/download_model/" + data.modelLink;
                            setTimeout(()=>{
                                $('.container').append("<a href=\""+link+"\">Download your model</a>"
                                )},2000);
                            setTimeout(clearInterval(interval),2000);
                        }
                    },
                });
            });

        });
    </script>
</div>
{%endblock%}