{%extends "layout.html"%}
{%block content%}
<div class="container">
    
    <div id="train_logs">
        <button id="start_train-btn" class="wh_btn">Start Training the Model</a>
    </div>


    <script>
        $(document).ready(function() {

            var interval = setInterval(()=>{
                $.ajax({
                type: 'GET',
                url: "{{url_for('trainProgress')}}",
                success: function(data) {
                    console.log(data.Progress)
                    if(data.Progress){
                        if($('.log').last().text() != data.Progress)
                            $('#train_logs').append("<p class=\"log\">"+data.Progress+"</p>")
                    }
                },
            });
            },3500);

            $("#start_train-btn" ).click(function(event) { 
                event.preventDefault();
                $('#start_train-btn').remove();
                var arr = window.location.href.split('/');
                var fd = arr[arr.length - 1];
                console.log(fd);
                d= {"folder":fd};
                $.ajax({
                    type: 'POST',
                    url: "{{url_for('train_model')}}",
                    data : JSON.stringify(d, null, '\t'),         
                    contentType: 'application/json;charset=UTF-8',
                    success: function(data) {
                        if(data.success == true){
                            var link = window.location.origin + "/download_model/" + data.modelLink;
                            setTimeout(()=>{
                                $('.container').append("<a href=\""+link+"\">Download your model</a>"
                                )},2000);
                            setTimeout(clearInterval(interval),2000);
                        }
                    },
                });
            });

        });
    </script>
</div>
{%endblock%}