{%extends "layout.html"%}
{%block content%}
<div class="container">
    <h1>Upload the Zip file</h1>
    <form id="upload-file" action="{{url_for('uploadFile')}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="zipfile" accept=".zip,.rar,.7zip"><br>
        <button type="submit" id="upload_file">Upload File</button>
    </form>

    <!-- <div>
        <p id="percent">0%</p>
        <p id="status"></p>
    </div> -->


    <script>
        $(document).ready(function() {
            // $("#upload_file" ).click(function(event) {
            //     event.preventDefault();
            //     var form_data = new FormData($('#upload-file')[0]);
            //     $.ajax({
            //         type: 'POST',
            //         url: "{{ url_for('uploadFile') }}",
            //         data: form_data,
            //         contentType: false,
            //         cache: false,
            //         processData: false,
            //         success: function(data) {
            //             if(data.redirect == true){
            //                 window.location.href = data.redirectLink;
            //             }
            //         },
            //     });
            // });


        });
    </script>
    {%include btn ignore missing%}
</div>
{%endblock%}